<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Abyss Blog</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="header">
        <div class="title">
            <img src="/pictures/elements/Frame 2.png" alt="">
            <h2>Blog about Retro Abyss project and Saigotsuki Reiga’s life</h2>
        </div>
        <div class="navpanel">
            <div class="container left-panel">
                <button class="main-btn" onclick="window.location.href='news.html'">NEWS</button>
                <button class="main-btn" onclick="window.location.href='gallery.html'">GALLERY</button>
                <button class="active-btn">ABOUT</button>
            </div>
            <div class="container right-panel">
                <button class="active-btn">EN</button>
                <button class="main-btn">JP</button>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="navpanel">
            <div class="container page-panel">
                <button class="main-btn">&lt;&lt;</button>
                <button class="main-btn">&lt;</button>
                <button class="active-btn">1</button>
                <button class="main-btn">2</button>
                <button class="main-btn">3</button>
                <button class="main-btn">&gt;</button>
                <button class="main-btn">&gt;&gt;</button>
            </div>
        </div>
        <div class="copyright">
            <p>© 2008 Retro Abyss Blog</p>
        </div>
    </footer>
</body>
</html>