{% extends 'layout.html' %}

 {% block content %}

<div class="main">
    <div class="posts">
        <div class="container-post">
            <div class="title">
                <h2>404 — Signal Lost</h2>
            </div>
            <div class="content">
                <p class="info">Error: Page not found</p>
                <p class="text">
                    The page you are looking for has vanished into the depths of the Retro Abyss...<br><br>
                    Maybe it never existed. Maybe it was erased.<br>
                    Or maybe… you are not supposed to find it.
                </p>

                <br>

                <a href="/" class="main-btn">Return to Reality</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
